
.icon-sinburo:before { content: '\e801'; } /* '' */
.icon-sinhistorial:before { content: '\e802'; } /* '' */
.icon-50desc:before { content: '\e803'; } /* '' */
.icon-congelacuenta:before { content: '\e804'; } /* '' */
.icon-entrega:before { content: '\e805'; } /* '' */
.icon-mantenimiento:before { content: '\e806'; } /* '' */
.icon-sinaval:before { content: '\e807'; } /* '' */
.icon-down-dir:before { content: '\e808'; } /* '' */
.icon-up-dir:before { content: '\e809'; } /* '' */
.icon-left-dir:before { content: '\e80a'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */